body {
  background: #fff;
  padding: 0.375rem;
  min-height: 100vh;
  border: 0.125rem solid rgba(0, 0, 0, 0.6);
  margin: 10px;
  max-width: 1600px;

}

section{
  display: block;
}
#img1 img{
  border-radius: 8px;
  display: block;
  margin-right: 7%;
  margin-left: 7%;
  margin-top: 3%;
  height: 860px;
  width: 86%;
  box-shadow: 5px 5px 10px black;

  }
#img2 img{
  border-radius: 8px;
  display: block;
  margin-right: 1%;
  margin-left: 7%;
  width: 42.5%;
  height: 400px;
  margin-top: 1%;
  float: left;
  box-shadow: 5px 5px 10px black;

}
#img3 img{
  border-radius: 8px;
  display: block;
  margin-right: 7%;
  width: 41.5%;
  height: 338px;
  margin-top: 3%;
  float: left;
  box-shadow: 5px 5px 10px black;
  
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 3%;
  font-family: Amatic SC, cursive;
  text-shadow: 5px 5px 10px black;
  color: black;
  text-decoration: underline;
  
}
#l{
  word-spacing: 5px;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  margin-top: 28%;
 
  margin-bottom: 3%;
line-height: 200%;
  font-family: 'Yomogi';font-size: 22px;
  
  margin-left: 15%;
  margin-right: 15%;

  
}
button{
  background: #000000;
  border: 1px solid #999;
  border-style: none none solid none;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 16px 0;
  width: 290px;
  text-align: center;
  margin-left: 33%;
  margin-bottom: 3%;

  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  border-radius: 8px;

}
.open-button{
  margin-left: 40%;

}
.open-button:hover{
  color: #fff;
  background: #429188;
}
.btn:hover{
  color: #fff;
  background: #429188;
}
.btnCancel:hover{
  color: #fff;
  background: #429188;
}
h2{
  font-size: 30px;
  font-family: Amatic SC, cursive;
}
div p{
  font-size: 18px;
  font-family: Amatic SC, cursive;
}
div h3{
  font-size: 25px;
  font-family: Amatic SC, cursive;
}
div{
  font-size: 20px;
  text-align: center;
  font-family: Amatic SC, cursive;
 
}
div input{
  border: solid black;
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
}
 
#extrainfo{
  border: solid black;
}

.container {
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;

  display: block;
  position: relative;
  border: solid 3px #000000;
  padding: 40px 60px;
  max-width: 800px;
  width: 70%;
  margin: 100px auto 0;
  font-size: 17px;
  line-height: 28px;
  transform: rotate(-1deg);
  transition: all 0.13s ease-in;
  box-shadow: 5px 5px 10px black;
}
 
 .container:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.container:hover .border {
  transform: translateY(4px) rotate(-5deg);
}

.border {
  position: absolute;
  transition: all 0.13s ease-in;
} 









