section{
  display: block;
  background-color: white;
}
#img1 img{
  border-radius: 8px;
  display: block;
  margin-right: auto;
  }
#img2 img{
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 507px;
  height: 338px;
}
#img3 img{
  border-radius: 8px;
  display: block;
  margin-left: auto;
  width: 507px;
  height: 338px;
}

h1 {
  text-align: center;
  font-size: 50px;
  background-color: #eee;
}
section p{
  background-color: #eee;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
form{
  background-color: #eee;
}
button{
  background: #53b5aa;
  border: 1px solid #999;
  border-style: none none solid none;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 16px 0;
  width: 290px;
  text-align: center;

  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.open-button:hover{
  color: #fff;
  background: #429188;
}
h2{
  padding-left: 10px;
  font-size: 30px;
}
div p{
  padding-left: 10px;
  font-size: 18px;
}
div h3{
  font-size: 25px;
  padding-left: 10px;
}
div{
  font-size: 20px;
  padding-left: 10px;
  text-align: center;
}
div input{
  border: 1px solid black;
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: white;
}

button.btn{

}
button.btnCancel{

}



