/* header */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Oswald');


* {
    box-sizing: border-box;  
    max-width: 100%;
    overflow:visible; 

}
header{
    margin-bottom: 0%;
}
.video-container {
    padding: 20.85% 0 ;
     width: 100%;
     position: relative;
   }
   .myVideo {
       position: absolute;
       width: 100%;
       height: 100%;
       left: 0;
       top: 0;
       padding: 0 0 50% 0 ;
       opacity: 0.8;
   }
.topnav {
    position: fixed;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color:black;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    line-height: 50px;

}

  
  .topnav> .brand {
      position: absolute;
      left: 2%;
      top: 0;
  }
  .topnav> .cart-1 {
    position: absolute;
    right: 2%;
    top: 10%;
    width: 40px; 
    height: 30px
}
 

.topnav .link {
    color: white;
    margin-right:200px ;
    margin-left: 10PX;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}
.topnav>a :hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  
  }
  
  .topnav >.link:hover::after {
    content: "";
    position: absolute;
    right: 20%;
    bottom: 0;
    width : 70%;
    border: 2px solid white;
  }
  
  #big-h{

    position: absolute;
    color: whitesmoke;
    font-size:170px;
    margin-top: 8%;
    margin-left: 5%;
    width: 60%;
  }
  #big-h:hover{
    /* color: rgb(197, 169, 7); */
    color:black;
  }

 #bu-1{
     position: absolute;
     left: 50%;
     right: 50%;
     bottom:15%;
     width:40%;
     text-decoration-line: none important;
 }
 #bu-1>button{
    border: solid white;
    background-color: Transparent;
    cursor: pointer;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    color:white;
    font-size: 60px;
    font-family: Calibri sans-serif;

}
#bu-1>button:hover{
    /* color: rgb(197, 169, 7); */
    /* border: solid rgb(197, 169, 7); */
    color:black;
    border: solid black;

}
#bu-1:hover{
    text-decoration-line: none important;
    color: rgb(197, 169, 7);
}
/* ///////////////////// End of Header///////////////////////////// */

/* Main  */
main{
    padding-top: 50%;
    overflow:hidden;
}
#s1{
    /* background-color: rgb(255, 249, 161); */
    padding-top: 0%;
    margin-top:0%;
    padding-bottom: 28%;    
    background-color: rgb(255, 254, 176);
    border-bottom:solid black;
}

#why-us{
    padding-top:7%;
    font-size:100px;
    text-align:center;
}

.Sourcing {
    float:right;
    text-align: center; 
    width:25%;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    height:300px;
}
.Roasting{
    float:right; 
    text-align: center; 
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 4%;
    width:25%;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    height:300px;
}
.Delivery{
    float:right;
    text-align: center; 
    margin-right: 3%;
    margin-top: 2%;
    width:25%;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    height:300px;
}
#p1,#p2,#p3 {
    text-align: center;   
}
.Delivery,.Roasting,.Sourcing{
    display: inline;
    border: 1px solid ;
    hyphens: auto; 
    box-shadow: 5px 10px;
}

  #s3{
      position: absolute;
      right: 0;
      /* border: solid red ; */
      background-color: #FF6B6B;
      padding-bottom: 25%;  
      width: 100%;
      /* border-left: solid black;   */

  }
  #map>iframe{
      position: absolute;
      right:0%;
      top:27%;
      height:100%;
      width:100%;
      border-radius: 10%;
      /* margin-bottom: 5% 10% 5% 10%; */
    
  }

  #v-us{
      /* position: absolute; */
      font-family: Amatic SC, cursive;
      font-size: 100px; 
      right:5%;
      text-align: center;
  }

  #Hot-coffee{
      margin-top: 0%;
      padding:0 0 0 0;
      border-bottom: solid black;
      
      /* padding-top:40% ; */
      /* background-image: url(https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80); */
  }
  #h1-img{
    z-index: 1;
    width: 100%;
    /* height: 100%; */
    clip: rect(0px,0px,2000px,0px);

  }
  #h1-hot{
    z-index: 2;
    position: absolute;
    top: 190%;
    left:2%;
    font-size: 100px;
    width: 40%;
    height: 26px;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  

#snacks {
    box-sizing: border-box;
    background-color:#F6D167;
    clear: left;
  }
  #coffeeheader {
     position: relative;
     padding:0 0 0 0 ;
    font-family: Amatic SC, cursive;
    text-align: center;
    font-size: 100px;
    /* margin-top: 8%; */

  }
  #snackpics {
    width: 100%;
    height: 80%;
    margin-bottom:3%;
    object-fit: cover;
  }
  #coffeebody {

    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 1%;
    margin-bottom: 2%;
    position: relative;
    top:5%
  }
  #store {
      background-color:rgb(127, 241, 217);
      margin: 0;
      padding: 0;
  }
  
  #row {
    display: flex;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  #column {
    flex: 33.33%;
    padding: 10px;
  }
  #column:hover{
   
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5); 
      
  }
  #shoppics {
    object-fit: scale-down;
    width: 100%;
    height: 120px;
  }
  
  
  
.container {
    position: relative;
    width: 33.3333%;
    float: left;
}

.image-1{
    opacity: 1;
    display: block;
    width:100%;
    height: 800px;
    margin:0;
    padding:0;
    transition: .5s ease;
    backface-visibility: hidden;
}
.image-2{
    opacity: 1;
    display: block;
    width:100%;
    height: 800px;
    margin:0;
    padding:0;
    transition: .5s ease;
    backface-visibility: hidden;
}
.image-3{
    opacity: 1;
    display: block;
    width:100%;
    height: 800px;
    margin:0;
    padding:0;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image-1 {
    opacity: 0.3;
}

.container:hover .image-2 {
    opacity: 0.3;
}

.container:hover .image-3 {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.middle>a>button{
      font-size: 50px;
      background-color: Transparent;
      border: 1px solid black;
      font-family: Calibri sans-serif;

}

#bu-2:hover{
   text-decoration-line: none important;
   color: rgb(197, 169, 7);
}


#randombreak {
    background-image: url("https://www.hopculture.com/wp-content/uploads/2019/01/division2_1400x.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-color: #F2D3BE;
     width: 100%;
     height: 530px;
     background-size: cover;
     position: relative;
     /* top: 10px; */
   }
   .footer-sticky {
    display: block;
    width: 100%;
    height: 110px;
    position: absolute;
    top:650%;
    bottom: 0;
    left: 0;
    background: black;
    color: white;
    /* z-index: 1; */
  }

.icons{
    padding-top: 1rem;
    text-align: center;

}

.icons a{
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

@media (max-width: 500px){
    html{
        font-size: 50%;
    }
}    

@media(min-width: 501px) and (max-width: 768px){
    html{
    font-size: 50%;
    }
}    


  
  
  


  